<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../css/navbar.css" />
</head>
<body>
    <nav class="nav-bar">
        <div class="homebtn-div">
            <button class="lll-btn">
                <img src="../../img/kau_likelion.png" alt="logo" class="k-lll">
                HOME
            </button>
        </div>
        <div class="navbar-title-text">
            <a href="#" class="ll-t">
                LIKELION
            </a>
            <p class="kau-title">
                KoreaAeroSpaceUniversity
            </p>
        </div>
        <div class="assignment-div">
            <button class="homework-btn">
                <a href="#">
                    <img src="../../img/backpack.png" alt="backpack" class="assginmet_bp">
                </a>
                <a href="#" class="h_l">
                    목록
                </a>
            </button>
        </div>
    </nav>
</body>
</html>